<plugin>
	<nom>Squelette SPIP Reset</nom>
	<auteur>
	[Jacques->http://www.spip-contrib.net/_Jacques-PYRAT_] &mdash; &#169; 2010 - Distribu&#233; sous licence GPL (m&ecirc;me num&eacute;ro que celle de SPIP)
	</auteur>
	<lien>http://www.spip-contrib.net/Squelettes-SPIP-Reset</lien>
	<version>1.0</version>
	<etat>stable</etat>
	<description>
	Ce plugin permet de faire comme les Framework de reset CSS, mais au niveau squelettes : vider un site de tous les squelettes par d&eacute; de SPIP.
	Permet d'&eacute;viter la fuite d'informations sensibles d'un site.
	</description>
	<icon>img_pack/spip_reset_48.png</icon>
	<prefix>spip_reset</prefix>
	<categorie>squelette</categorie>
	<chemin dir='' />
</plugin>
